---
import { Image } from 'astro:assets'

import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'

const languages = ['HTML', 'CSS', 'JavaScript', 'TypeScript', 'Python', 'C#', 'Shell', 'SQL']
const frontend = ['React', 'Vue', 'Astro', 'NextJs', 'Vite', 'Tailwind']
const backend = ['NodeJs', 'Koa', 'Flask', 'PostgreSQL', 'MongoDB', 'Redis', 'Chroma']
const aiTechs = ['PyTorch', 'Jupyter Lab', 'LangChain', 'HuggingFace Transformers']
const devTools = ['Git', 'Docker', 'K8s', 'Linux', 'Vim', 'Nginx', 'Typora']

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#d4a5a5'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='China'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label title='Github' as='a' href='https://github.com/tecladochen' target='_blank'>
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>Developer / Designer</p>
        <p class='text-muted-foreground'>
          我是
          teclado，嘉兴南湖学院19级网络工程专业，两年软件开发经验。兴趣是全栈和AI应用，热爱设计并着迷于UI/UX，喜欢写博客、开源和探索新技术。
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' style='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' style='ahead' />
          </Section>
        )
      }

      {
        /* <Section title='Experience'>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      >
        <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
            molestiae laboriosam pariatur!

            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
          </li>
        </ul>
      </Card>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      />
    </Section> */
      }
      <Section title='Education'>
        <Card
          as='a'
          heading='嘉兴南湖学院'
          subheading='数理系 网络工程专业'
          date='August 2019 - July 2023'
          href='https://www.jxnhu.edu.cn/'
        >
          <img
            class='absolute end-0 z-0 m-0 -my-3 h-full w-1/2 object-cover opacity-40'
            src='/images/jxnhxy.jpg'
          />
          {
            /*(
              <ul class='ms-4 list-disc text-muted-foreground'>
                <li>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis
                  recusandae, ut molestiae laboriosam pariatur!
                </li>
                <li>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!
                </li>
              </ul>
            )*/
          }
        </Card>
      </Section>

      <!-- <Section title='Website List'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/alex-tyson-2BAXJ7ha74s-unsplash.jpg'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/angelica-teran-Bk9hpaXHK4o-unsplash.jpg'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/kseniia-zapiatkina-yATU3rg8tNI-unsplash.jpg'
          />
          <ProjectCard
            href='/projects'
            heading='More projects'
            subheading='Check out more projects'
            imagePath='/src/assets/projects/wen-qiao-g_w8I64FiO0-unsplash.jpg'
          />
        </div>
      </Section> -->

      <Section title='Certifications'>
        <Card
          as='a'
          heading='Certified Kubernetes Administrator'
          subheading='Passed the Certified Kubernetes Administrator China Exam (CKA-CN) and obtained the Certified Kubernetes Administrator certificate.'
          date='December 17, 2023'
          href='hhttps://training.linuxfoundation.org/certification/certified-kubernetes-administrator-cka/'
        >
          <img
            class='absolute end-0 z-0 m-0 -my-3 h-full w-1/2 object-cover opacity-20'
            src='/images/cka-logo.png'
          />
        </Card>
      </Section>

      <Section title='Skills'>
        <SkillLayout title='Languages' skills={languages} />
        <SkillLayout title='Frontend' skills={frontend} />
        <SkillLayout title='Backend' skills={backend} />
        <SkillLayout title='AITech' skills={aiTechs} />
        <SkillLayout title='devTools' skills={devTools} />
      </Section>
    </div>
    <Quote class='mt-12' />
  </main>
</PageLayout>
